@font-face {
   font-family: 'liquefier';
   font-display: swap;
   src: url('file:///Users/carolcadenas/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2023-05-16_103445/fonts/liquefier/font.ttf');
}
